@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
* {
  font-family: "Roboto";
  list-style-type: none;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.maincontent {
  margin: 0 auto;
}

.welcome-screen {
  background: url("./../img/first-screen.png") right top no-repeat, #F4F9E2;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 124px;
}

.service__logo {
  font-size: 24px;
  color: #62D0DF;
  margin-left: 76px;
}
.service__logo:last-child {
  margin-left: 0;
}

.nav__list {
  display: flex;
  padding-top: 14px;
}

.nav__item {
  font-size: 14px;
  font-weight: 400;
  color: #22356F;
  margin-right: 18px;
  padding: 0 5px 10px 5px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item:hover {
  border-bottom: 2px solid #22356F;
  transition: 0.8 ease;
}

.nav__item__link {
  color: #22356F;
}

.contact-btn {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding-top: 18px;
  padding-right: 30px;
  padding-bottom: 18px;
  padding-left: 30px;
  background: #62D0DF;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.contact-btn:hover {
  background: #22356F;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.service-desk {
  margin-left: 76px;
}

.secvice-desk__slogan {
  font-size: 48px;
  color: #22356F;
  width: 500px;
  margin-bottom: 10px;
}

.service-desk__text {
  font-size: 24px;
  width: 492px;
  color: #22356F;
  font-weight: 300;
}

.welcome-screen__btns {
  margin-left: 76px;
}

.btn {
  background: #F9B640;
  color: #ffffff;
  border: none;
  font-size: 16px;
  padding: 11px 21px;
  cursor: pointer;
}
.btn:hover {
  background: #22356F;
}

.btn-no-bg {
  background: none;
  color: #F9B640;
}
.btn-no-bg:hover {
  background: #62D0DF;
  color: #ffffff;
}

.benefits-screen {
  height: 453px;
  padding-top: 151px;
  background: url("./../img/benefits-screen.png") right top no-repeat, #62D0DF;
}

.benefits__content {
  margin-left: 76px;
}

.benefits__headline {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 75px;
}

.benefits__text {
  color: #ffffff;
  width: 555px;
  line-height: 190%;
  font-weight: 300;
}

.about__desk {
  display: flex;
  padding-top: 150px;
  margin-bottom: 76px;
}

.about__text {
  font-size: 24px;
  color: #22356F;
  width: 592px;
}

.about__headline {
  width: 117px;
  margin-right: 225px;
}

.about__headline__content {
  font-size: 16px;
  font-weight: 200;
  margin: 0;
}

.about__text__content {
  margin: 0;
}

.about__subtitle {
  font-size: 16px;
  font-weight: 300;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-bottom: 100px;
  margin-bottom: 0px;
}

.service__item {
  width: 252px;
  padding-top: 64px;
  padding-left: 48px;
  padding-bottom: 169px;
}

.service__item__headline {
  width: 174px;
  color: #ffffff;
  border-top: 2px solid #ffffff;
}

.service__item__content {
  padding-left: 17px;
}
.service__item__content::before {
  content: url("./../img/dot.png");
  display: block;
  color: #E9B730;
  position: absolute;
  transform: translate(-178%, -23%);
}

.lifestyle__list {
  flex-wrap: wrap;
}

.lifestyle__item {
  padding-right: 94px;
  padding-left: 54px;
  padding-top: 125px;
  padding-bottom: 179px;
}

.lifestyle__headline {
  width: 293px;
}

.lifestyle__content {
  width: 148px;
}

.lifestyle-desk__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  padding-bottom: 100px;
}

.lifestyle-desk__item {
  margin-right: 130px;
}
.lifestyle-desk__item:nth-child(3) {
  margin-right: 0;
}
.lifestyle-desk__item:nth-child(6) {
  margin-right: 0;
}

.lifestyle-desk__headline {
  font-size: 28px;
  font-weight: 400;
  color: #22356F;
}

.lifestyle-desk__text {
  font-size: 16px;
  font-weight: 400;
  width: 298px;
  color: #909AB7;
}