.benefits-screen {
    height: 453px;
    padding-top: 151px;
    background: url("./../img/benefits-screen.png") right top no-repeat, #62D0DF;
}

.benefits__headline {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 75px;
}

.benefits__text {
    color: #ffffff;
    width: 555px;
    line-height: 190%;
    font-weight: 300;
}