.footer {
    background: #62D0DF;
    padding-bottom: 21px;

}

.footer__text {
    font-size: 14px;
    color: #fff;
    margin-left: 194px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 30px 0 0 0;
}