.info-screen {
    background: url("./../img/female.png") left top no-repeat, #fff;
    height: 380px;
}

.info-screen__wrapper {
    display: flex;
    justify-content: right;
    padding-top: 54px;
}

.info-screen__list {
    display: flex;
    margin-right: 120px;
}

.info__title {
    font-weight: bold;
    font-size: 14px;
    color: #22356F;
    margin-bottom: 40px;
}

.info-screen__item {
    margin-right: 52px;
    &:last-child {
        margin-right: 0;
    }
}

.info__text {
    width: 207px;
    font-size: 14px;
    font-weight: 300;
    color: #909AB7;
    line-height: 1.9;
}

